@import 'sandalreset.css';

@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../font/iconfont.woff2') format('woff2'),
      url('../font/iconfont.woff') format('woff'),
      url('../font/iconfont.ttf') format('truetype'),
      url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
main view: #343434
left bar: #e3e4e5
border: #00f0ff
*/

body{
  background-color: #343434;
}

.fillup{
  color: #343434;
  font-weight: bold;
  font-size: large;
  padding: 5px;
  margin: 5px;
}

#leftbar{
  background-image: linear-gradient(#e3e4e5ee,#aaaaaaee);
  position: fixed;
  left: 0;
  text-align: center;
  height: 100%;
  width: 45px;
  padding-top: 5px;
}
#leftbar .submenu{
  background: inherit;
  position: inherit;
  left: 45px;
  top: 0;
  height: inherit;
  width: 180px;
  display: none;
}
#leftbar:hover .submenu{
  display: block;
}
#leftbar .submenu li:hover{
  background: #0000003a;
  border-radius: 20px;
}

#upbutton{
  background: #e3e4e5ee;
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: center;
}

header{
  background-color: purple;
  border: 10px #00f0ff solid;
  border-radius: 20px;
}
header .maintitle{
  display:flex;
  justify-content:center;
  align-items:center;
}
header .maintitle .subtitle{
  background-color: coral;
  border-radius: 10px;
  border: 3px solid rgb(255, 68, 0);
}
h1>a{
  text-align: center;
  font-size: 50px;
  color: #00f0ff;
}
header .searchcontent{
  background: antiquewhite;
  display:flex;
  justify-content:center;
  align-items:center;
}
header .searchcontent .searchbox{
  background: blueviolet;
  display: inline;
}
header .searchcontent .searchbtn{
  background: yellow;
  display: inline;
}

article{
  background: wheat;
  margin: 50px;
  display:flex;
  justify-content:center;
  align-items:center;
}
h2{
  background-color: aquamarine;
  font-size: 30px;
  font-style: italic;
}
article .art{
  background: lightblue;
  border: 3px solid #00f0ff;
  border-radius: 20px;
  padding: 5px;
  font-size: 20px;
}

footer{
  background: rgb(27, 88, 255);
  display:flex;
  justify-content:center;
  align-items:center;
}
h3{
  text-align: center;
  background-color: red;
  font-size: 20px;
}
footer .beian{
  background-color: bisque;
  height: 100px;
  text-align: center;
  font-size: 15px;
}
footer .codeinfo{
  background-color: antiquewhite;
  margin: 10px;
  padding: 10px;
  color: darkblue;
}
footer img{
  width: 100px;
  height: 100px;
}